.m1{
    display: grid;
    width: 700px;
    margin-left: 300px;
    margin-top: 50px;
}
.head{
    margin-left: 300px;
    margin-top: 30px;
    font-family:emoji;
}
.btns{
    margin-left: 300px;
    margin-top: 30px;
}
